
.first_info{
    h1{
        text-align-last: left;

    }
    span{
        font-size: 40px;
    }
}

.home_section{
    // margin-top: 100px;
    h2{
        // font-size: 40px;
        text-align: center;
    }
    .tags_search_wrap{
        margin-top: 100px;
    }
    .topics_wrap{
        // justify-content: center;
        padding: 0;
        li{
            margin-left: 20px;
        }
    }
}
