.hero{
    height: 600px;
    width: 100%;
    // background-color: #f3f3f3;
    background-size: cover;
    .inner{
        width: 1280px;
        height: 100%;
        margin: auto;
        padding-top: 5%;
        display: flex;
        ._left_area{
            width: 20%;
            p{
                margin-top: 30px;
            }
        }
        ._right_area{
            width: 80%;
            background-color: aliceblue;
            ul{
                display: flex;
                li{
                    width: 33%;
                }
            }
        }

    }
}

.home_section{
    .topics_wrap{
        // margin-top: 40px;
        justify-content: flex-start;
        li{
            margin-left: 20px;
        }
    }
}