* {
  font-family: "メイリオ", sans-serif;
  color: black;
}

$primary_text: 40px;
$secondary_text: 30px;
$basic_radius: 6px;
$main_blue: #9fdaf4;

$main_title: 20px;
$primary-400: #4fec6a;

html {
  position: relative;
}

a {
  &:hover {
    opacity: 0.8;
  }
}

h2 {
  font-size: 30px;
}

.search_icon_wrap {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

/*汎用css*/
main {
  padding-top: 70px;
  padding-bottom: 120px;
}

.main_btn,
.secondly_btn {
  display: block;
  border: 2px solid #5f5f5f;
  padding: 15px 20px;
  line-height: 1;
  font-size: 16px;
  color: #5f5f5f;
  text-align: center;
  border-radius: $basic_radius;
}
.main_btn {
  background-color: #ffff76;
}

.secondly_btn {
  background-color: #fff;
}

.sclae_btn {
  &:hover {
    transform: scale(1.02);
    transition: 0.3s all;
  }
}

.btn_wrap {
  display: flex;
  flex-direction: row;
}

.game_list {
  padding: 100px 0px 70px 0px;
}
.main_contents {
  min-width: 1240px;
  width: 1240px;
  margin: auto;
  padding: 0px 20px;
  ._main_img_wrap {
    width: 100%;
    img {
    }
  }
  .img_wrap {
    width: 400px;
  }
}

.top_games {
  width: 100%;
  h2 {
    text-align: center;
  }
  .games {
    padding: 0;
    ._each {
      width: 400px;
      h3 {
        font-size: 20p;
      }
      span {
        font-size: 14px;
      }
      figure {
        width: 400px;
      }
    }
  }
}

.billboard {
  width: 100%;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.3);
  background-position: center 20%;
  background-blend-mode: lighten;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: $primary_text;
}

.fw_b {
  font-weight: bold;
}

.std_box_shadow {
  box-shadow: 2px 2px 1px #80808061;
}

.login {
  width: 1080px;
  margin: auto;
  padding: 200px 40px 100px;
}

.tags {
  margin-top: 20px;
}
.tag {
  display: inline-block;
  background-color: #9ac8f9;
  color: #fff;
  padding: 10px 10px;
  line-height: 1;
  margin-left: 10px;
  cursor: pointer;
  &:first-child {
    margin-left: 0;
  }
}

/*ヘッダー-----------*/
header {
  width: 100%;
  height: 70px;
  color: #525252;
  padding: 15px 0 10px 0;
  position: fixed;
  font-weight: bold;
  z-index: 10;
  transition: 0.3s;
  .inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1100px;
    padding: 0 30px;
    margin: auto;
  }
  .search_box_wrap {
    position: fixed;
    top: 90px;
    right: 20px;
    height: 40px;
  }
  .header_logo {
    width: 200px;
  }
  a,
  .header_btn {
    color: #333;
    font-weight: bold;
  }
  .header_btn {
    background-color: initial;
    box-shadow: initial;
    border: initial;
  }
  ul {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 20px;
    li {
      height: 100%;
      margin-left: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
    }
  }
  .login_block {
    margin-left: auto;
    display: flex;
    align-items: center;
    li {
      color: #333;
    }
    div {
      margin-left: 20px;
    }
    .btn_wrap:hover {
      opacity: 0.8;
    }
  }
  .game_menu {
    position: relative;
    .sub_menu {
      display: none;
      padding: 5px 10px;
      border: 1px solid #fff;
      background-color: #555;
      position: absolute;
      top: 70px;
      width: 200px;
      flex-direction: column;
      justify-content: space-between;
      transition: 0.7s;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        display: flex;
        transition: 0.7s;
      }
    }
    &:hover {
      opacity: 0.8;
      .sub_menu {
        display: flex;
        transition: 0.7s;
      }
    }
  }
}
header.is_scroll {
  background-color: $main_blue;
  transition: 0.3s;
}

/*検索モーダル--------*/

.search_box_wrap {
  width: 270px;
  display: none;
  align-items: center;
  background-color: #fff;
  border: 1px solid #525252;
  transition: 0.3s;
  i {
    border-right: 1px solid #525252;
    padding: 10px 10px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
      background-color: #72dfea9e;
    }
  }
  ._inner {
    input {
      border: none;
      padding-left: 5px;
      height: 100%;
      outline: aliceblue;
    }
  }
  &.active {
    display: flex;
    animation: fadeIn 0.3s ease 0.2s 1 normal backwards;
  }
}

.search_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease 0s;
  &.active {
    pointer-events: auto;
    opacity: 1;
  }
}

.search_form_wrap {
  width: 50%;
  background-color: #fff;
  padding: 40px 50px;
  border: 1px solid #5c5c5c;
  position: relative;
  dd {
    margin-top: 10px;
    input {
      width: 100%;
      padding: 10px 10px 5px 10px;
      line-height: 1;
    }
  }
  ._result {
    margin-top: 20px;
    padding-top: 20px;
    .game_link {
      display: block;
    }
  }
}

.search_box_close_btn {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  right: -25px;
  border-radius: 25px;
  border: 1px solid #fff;
  font-size: 12px;
  cursor: pointer;
}

/*フッター-----------*/
footer {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  background-color: $main_blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topics_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  a {
    display: block;
    height: 100%;
  }
  li {
    width: 285px;
    height: 310px;
    margin-top: 24px;
    margin-right: 20px;
    border: 1px solid #353535;
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.comments_wrap {
  width: 100%;
  margin-top: 50px;
  .text {
    padding: 15px 20px;
    // background-color: #afe8ff;
    margin-top: 20px;
    border-top: 1px solid #000;
    &:first-child {
      margin-top: 0;
    }
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
}

.modal_wrap {
  display: none;
}

.modal {
  min-width: 600px;
  max-width: 80vw;
  top: 15%;
  min-height: 400px;
  // width: 60vw;
  position: fixed;
  left: 20vw;
  right: 20vw;
  background-color: #fff;
  border: 2px solid black;
  padding: 20px;
  z-index: 100;
  border-radius: 10px;
}

.modal,
.form_wrap {
  form {
    margin: auto;
    width: 1080px;
    margin-top: 50px;
    // padding: 0 40px;
  }
  ._title {
    font-size: 24px;
  }

  .write_area {
    margin-top: ５px;

    input {
      width: 40%;
      padding: 10px;
      line-height: 1;
    }
    textarea {
      width: 80%;
      padding: 10px;
      line-height: 1.5;
      height: 15em;
    }
  }

  .submit_btn {
    margin-top: 20px;
    border: none;
    background-color: #1565c0;
    padding: 10px 20px;
    color: #fff;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  .close_btn_wrap {
    position: absolute;
    top: -20px;
    right: -20px;
  }
  .close_btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #333; /* 枠の調整 */
    position: relative;
    transition: 0.2s;
    &:hover {
      transform: scale(1.1);
      transition: 0.2s;
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 3px;
      height: 22px;
      background: #333;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 3px;
      height: 22px;
      background: #333;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
.ovarlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.modal_wrap.isActive {
  display: block;
}

.new_form_button {
  position: fixed;
  right: 20px;
  bottom: 120px;
  button {
    padding: 20px;
    background-color: skyblue;
    border: 1px solid;
    transition: 0.2s;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    border-color: skyblue;
    color: #fff;
    font-weight: bold;
    font-size: $main_title;
    &:hover {
      transform: scale(1.1);
      transition: 0.2s;
      cursor: pointer;
    }
  }
}

.topic_card_wrap {
  padding: 10px;
  color: #535353;
  display: flex;
  flex-direction: column;
  height: 100%;
  ._title {
    font-size: 20px;
    font-weight: bold;
    span {
      display: block;
      font-size: 14px;
      font-weight: lighter;
    }
  }
  .sub_info {
    margin-top: 10px;
  }
  .topic_img {
    border: 3px solid #525252;
    width: 322px;
    height: 160px;
    object-fit: cover;
    margin-top: auto;
  }
  .tags_wrap {
    flex-wrap: wrap;
    span {
      margin-top: 7px;
    }
  }
}

.status_label {
  font-weight: bold;
  border: 1px solid #525252;
  padding: 5px 14px;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  border-radius: 5px;
}

.tags_wrap {
  display: flex;
  span {
    font-size: 12px;
    margin-left: 10px;
    padding: 3px 7px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.category_label {
  background-color: #00abff;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 11px;
  font-weight: bold;
}

._attention_msg {
  color: red;
}
.game_name {
  ._attention_msg {
    margin-left: 10px;
    font-size: 12px;
  }
}

.search_input_wrap {
  text-align: center;
  span {
    font-size: $secondary_text;
    font-weight: bold;
    display: block;
    text-align: center;
  }
  input {
    width: 70%;
    height: 60px;
    padding: 5px 10px;
    display: block;
    margin: 50px auto 0;
    font-size: $main_title;
  }
  .submit_btn {
    width: 100px;
    background-color: #fff;
    border: 1px solid #555;
    height: 40px;
    cursor: pointer;
    margin: 30px auto;
    &:hover {
      background-color: $primary-400;
    }
  }
}

.game_card_wrap {
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.game_card {
  width: 250px;
  height: 190px;
  border: 1px solid #ccd6ce;
  margin-left: 20px;
  margin-top: 20px;

  &:first-child {
    margin-left: 0;
  }
  &:nth-child(4n + 1) {
    margin-left: 0;
  }

  ._first {
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
    color: #525252;
    .genre {
      font-size: 12px;
      display: block;
      font-weight: lighter;
    }
  }
  ._topics {
    padding: 10px;
    ul {
    }
    li {
    }
  }
  .img_wrap {
    position: relative;
    height: 120px;
    width: 100%;
    padding: 0px 8px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/*ゲームコンテンツ*/

.game_content {
  .btn_wrap {
    margin-top: 20px;
    a {
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.game_detail {
  border-radius: 6px;
  padding: 20px;
  margin: 100px auto auto auto;
  width: 100%;
  background-color: #4ea6cc0a;
  border: 1px solid #5f5f5f;
  h2 {
    line-height: 1;
  }
  ._inner {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    .game_imgs_wrap {
      width: 600px;
      .main_img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        border: 2px #5f5f5f;
        img {
          width: 540px;
          height: 300px;
          object-fit: cover;
        }
      }
      .sub_imgs {
        display: flex;
        justify-content: flex-start;
        margin-top: 10px;
        img {
          width: 32%;
          height: 96px;
          object-fit: cover;
          margin-left: 2%;
          border-radius: 5px;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
    ._sub_info {
      width: 500px;
      margin-left: 20px;
      font-size: 16px;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      strong {
        font-size: 20px;
      }

      ._btns {
        margin-top: 10px;
        button {
          font-size: 14px;
          padding: 15px 20px;
          line-height: 1;
          width: 220px;
          border-radius: $basic_radius;
          border: none;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
        }
        ._want {
          background-color: #fff;
          border: 1px solid #ff461e;
        }

        ._want.active {
          background-color: #ff461e;
          color: #fff;
          border: none;
        }
        ._now {
          margin-left: 10px;
          background-color: #fff;
          border: 1px solid #0cd1ec;
        }
        ._now.active {
          background-color: #0cd1ec;
          color: #fff;
          border: none;
        }
      }
      .about_topics {
        margin-top: 20px;
        li {
          margin-top: 5px;
          a {
            line-height: 1;
            color: #5f5f5f;
            font-size: 18px;
          }
        }
        ._title {
          font-weight: bold;
          font-size: 20px;
        }
      }
      .main_btn {
        margin-top: auto;
      }
    }
  }
}
.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

/*上部のモーダル*/
.notice_modal {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #c2fff5c2;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #525252;
}

.notice_modal {
  &.active {
    animation: SlideIn 4s;
    animation-fill-mode: forwards;
  }
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-70px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/*topic詳細ページ*/
.topic_detail {
}

/*フォームページ*/
.game_form,
.topic_form {
  margin-top: 100px;
}

.topic_form {
  .game_id {
    input {
      display: none;
    }
  }
}

/*ヒーロ*/

.hero {
  width: 1100px;
  margin: 100px auto auto auto;

  .inner {
    width: 100%;
    margin: auto;
    padding: 0px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .first_info {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.user_detail {
  .detail_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .playing_side {
    width: 70%;
    ._status {
      display: flex;
      flex-direction: row;
      padding: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  body {
  }
}
