@charset "UTF-8";
* {
  font-family: sans-serif;
}

html {
  position: relative;
}

a:hover {
  opacity: 0.8;
}

.search_icon_wrap {
  cursor: pointer;
}

.search_icon_wrap:hover {
  opacity: 0.8;
}

.search_box_wrap {
  display: none;
  position: fixed;
  top: 90px;
  right: 20px;
  height: 40px;
  align-items: center;
  background-color: #fff;
  border: 1px solid #525252;
  transition: 0.3s;
}

.search_box_wrap i {
  border-right: 1px solid #525252;
  padding: 10px 10px;
  cursor: pointer;
}

.search_box_wrap i:hover {
  opacity: 0.8;
  background-color: #72dfea9e;
}

.search_box_wrap form input {
  border: none;
  padding-left: 5px;
  height: 100%;
  outline: aliceblue;
}

.search_box_wrap.active {
  display: flex;
  animation: fadeIn 0.3s ease 0.2s 1 normal backwards;
}

.game_search {
  padding: 140px 40px 70px 40px;
}

.main_contents {
  max-width: 1280px;
  margin: auto;
  padding: 0 40px;
  width: 100%;
}

.main_contents ._main_img_wrap {
  width: 80%;
}

.billboard {
  width: 100%;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.3);
  background-position: center 20%;
  background-blend-mode: lighten;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 60px;
}

.fw_b {
  font-weight: bold;
}

.std_box_shadow {
  box-shadow: 2px 2px 1px #80808061;
}

.login {
  width: 1080px;
  margin: 100px auto auto;
  padding: 0 40px;
}

.tags {
  margin-top: 20px;
}

.tag {
  display: inline-block;
  background-color: #9ac8f9;
  color: #fff;
  padding: 10px 10px;
  line-height: 1;
  margin-left: 10px;
  cursor: pointer;
}

.tag:first-child {
  margin-left: 0;
}

header {
  width: 100%;
  height: 70px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;
  position: fixed;
}

header a, header .header_btn {
  color: #fff;
}

header .header_btn {
  background-color: initial;
  box-shadow: initial;
  border: initial;
}

header ul {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 20px;
}

header ul li {
  height: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

header .login_block {
  margin-left: auto;
  display: flex;
  align-items: center;
}

header .login_block div {
  margin-left: 20px;
}

header .game_menu {
  position: relative;
}

header .game_menu .sub_menu {
  display: none;
  padding: 5px 10px;
  border: 1px solid #fff;
  background-color: #555;
  position: absolute;
  top: 70px;
  width: 200px;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.7s;
  cursor: pointer;
}

header .game_menu .sub_menu:hover {
  opacity: 0.8;
  display: flex;
  transition: 0.7s;
}

header .game_menu:hover {
  opacity: 0.8;
}

header .game_menu:hover .sub_menu {
  display: flex;
  transition: 0.7s;
}

footer {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  background-color: #000;
}

.topics_wrap {
  display: flex;
  flex-wrap: wrap;
}

.topics_wrap li {
  width: 30%;
  margin-top: 20px;
  border: 1px solid #555;
  box-shadow: 1px 1px 2px;
}

.topics_wrap li:nth-child(3n) {
  margin-right: 0;
}

.comments_wrap {
  margin-top: 50px;
}

.comments_wrap .text {
  padding: 15px 20px;
  margin-top: 20px;
  border-top: 1px solid #000;
}

.comments_wrap .text:first-child {
  margin-top: 0;
}

.comments_wrap .left {
  text-align: left;
}

.comments_wrap .right {
  text-align: right;
}

.modal_wrap {
  display: none;
}

.modal {
  min-width: 600px;
  max-width: 80vw;
  top: 15%;
  min-height: 400px;
  position: fixed;
  left: 20vw;
  right: 20vw;
  background-color: #fff;
  border: 2px solid black;
  padding: 20px;
  z-index: 100;
  border-radius: 10px;
}

.modal form,
.form_wrap form {
  margin: auto;
  width: 1080px;
  padding: 0 40px;
}

.modal ._title,
.form_wrap ._title {
  font-size: 24px;
}

.modal .write_area,
.form_wrap .write_area {
  margin-top: 10px;
}

.modal .write_area input,
.form_wrap .write_area input {
  width: 40%;
  padding: 10px;
  line-height: 1;
}

.modal .write_area textarea,
.form_wrap .write_area textarea {
  width: 80%;
  padding: 10px;
  line-height: 1.5;
  height: 15em;
}

.modal .submit_btn,
.form_wrap .submit_btn {
  margin-top: 20px;
  border: none;
  background-color: #1565c0;
  padding: 10px 20px;
  color: #fff;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.modal .close_btn_wrap,
.form_wrap .close_btn_wrap {
  position: absolute;
  top: -20px;
  right: -20px;
}

.modal .close_btn,
.form_wrap .close_btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #333;
  /* 枠の調整 */
  position: relative;
  transition: 0.2s;
}

.modal .close_btn:hover,
.form_wrap .close_btn:hover {
  transform: scale(1.1);
  transition: 0.2s;
  cursor: pointer;
}

.modal .close_btn::before,
.form_wrap .close_btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 22px;
  background: #333;
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal .close_btn::after,
.form_wrap .close_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 22px;
  background: #333;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.ovarlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.modal_wrap.isActive {
  display: block;
}

.new_form_button {
  position: fixed;
  right: 20px;
  bottom: 120px;
}

.new_form_button button {
  padding: 20px;
  background-color: skyblue;
  border: 1px solid;
  transition: 0.2s;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  border-color: skyblue;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.new_form_button button:hover {
  transform: scale(1.1);
  transition: 0.2s;
  cursor: pointer;
}

.topic_card_wrap {
  padding: 24px;
  color: #535353;
}

.topic_card_wrap ._title {
  font-size: 20px;
}

.status_label {
  font-weight: bold;
  border: 1px solid #525252;
  padding: 5px 14px;
  display: inline-block;
  font-size: 12px;
}

.tags_wrap {
  display: flex;
  margin-top: 10px;
}

.tags_wrap span {
  border: 1px solid;
  font-size: 12px;
  margin-left: 10px;
  padding: 3px;
}

.tags_wrap span:first-child {
  margin-left: 0;
}

.tags_search_wrap ul {
  display: flex;
  flex-direction: row;
}

.tags_search_wrap ul li {
  background-color: #C6F6D5;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 10px;
  padding: 5px 10px;
}

._attention_msg {
  color: red;
}

.game_name ._attention_msg {
  margin-left: 10px;
  font-size: 12px;
}

.search_input_wrap {
  text-align: center;
}

.search_input_wrap span {
  font-size: 40px;
  font-weight: bold;
  display: block;
  text-align: center;
}

.search_input_wrap input {
  width: 70%;
  height: 60px;
  padding: 5px 10px;
  display: block;
  margin: 50px auto 0;
  font-size: 20px;
}

.search_input_wrap .submit_btn {
  width: 100px;
  background-color: #fff;
  border: 1px solid #555;
  height: 40px;
  cursor: pointer;
  margin: 30px auto;
}

.search_input_wrap .submit_btn:hover {
  background-color: gray;
}

.search_result_area {
  border: 1px solid;
  background-color: #fff;
  padding: 20px;
  min-height: 400px;
  display: flex;
  justify-content: flex-start;
}

.search_result_area .each_game {
  width: 30%;
  border: 1px solid #555;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

/*上部のモーダル*/
.notice_modal {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #c2fff5c2;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #525252;
}

.notice_modal.active {
  animation: SlideIn 4s;
  animation-fill-mode: forwards;
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-70px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/*topic詳細ページ*/
.topic_detail .main_contents {
  padding-top: 100px;
  padding-bottom: 100px;
}

/*フォームページ*/
.game_form,
.topic_form {
  padding: 200px 0px;
}

.topic_form .game_id input {
  display: none;
}
/*# sourceMappingURL=main.css.map */